<body>
    <!-- Side Navbar -->
    <nav class="side-navbar" *ngIf="isAuthenticated()">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div>
                    <h2 class="h5">APINKO</h2><span>Web Developer</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo">
                    <a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a>
                </div>
            </div>
            <!-- Sidebar Navigation Menus-->

            <ul id="side-main-menu" class="side-menu list-unstyled">

                <div class="admin-menu" *ngIf="isSuperAdmin()">
                    <h5 class="sidenav-heading">SuperAdmin</h5>
                    <ul id="side-admin-menu" class="side-menu list-unstyled">
                        <li>
                            <a routerLink="/formulaire" routerLinkActive="active"> <i class="icon-home"></i>Ajout d'un partenaire avec compte</a>
                        </li>
                        <li>
                            <a routerLink="/compte" routerLinkActive="active"> <i class="icon-home"></i>Ajout d'un compte</a>
                        </li>
                    </ul>
                </div>
                <div class="admin-menu" *ngIf="isAdmin()">
                    <h5 class="sidenav-heading">Admin</h5>
                    <ul id="side-admin-menu" class="side-menu list-unstyled">
                        <li>
                            <a routerLink="/partenaire" routerLinkActive="active"> <i class="icon-screen"> </i>Partenaire</a>
                        </li>
                        <li>
                            <a routerLink="/lister" routerLinkActive="active"> <i class="icon-picture"> </i>Lister Partenaires</a>
                        </li>
                        <li>
                            <a routerLink="/user" routerLinkActive="active"> <i class="icon-form"></i>Users </a>
                        </li>
                        <li>
                            <a routerLink="/list" routerLinkActive="active"> <i class="icon-form"></i>Liste des Utilisateurs </a>
                        </li>
                    </ul>
                </div>
                <div class="admin-menu" *ngIf="isCaissier()">
                    <h5 class="sidenav-heading">Caissier</h5>
                    <ul id="side-admin-menu" class="side-menu list-unstyled">
                        <li>
                            <a routerLink="/depot" routerLinkActive="active"><i class="icon-grid"></i>Depot</a>
                        </li>
                        <li>
                            <a routerLink="/retrait" routerLinkActive="active"><i class="icon-interface-windows"></i>Retrait</a>
                        </li>
                        <li>
                            <a routerLink="/transactionlist" routerLinkActive="active"><i class="icon-interface-windows"></i>Liste des transactions</a>
                        </li>
                        <li>
                            <a routerLink="/envoi" routerLinkActive="active"><i class="icon-interface-windows"></i>Envoi</a>
                        </li>
                    </ul>
                </div>

            </ul>

        </div>
    </nav>
    <div class="page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header"><a id="toggle-btn" routerLink="#" class="menu-btn"><i class="icon-bars"> </i></a>
                            <a routerLink="/index" class="navbar-brand">
                                <div class="brand-text d-none d-md-inline-block"><strong class="text-primary">WARI</strong></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Log out-->
                            <li class="nav-item">
                                <a (click)="deco()" routerLink="/login" routerLinkActive="active" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a>
                            </li>
                            <li>
                                <a routerLink="/login" routerLinkActive="active" class="nav-link login"><span class="d-none d-sm-inline-block">Login</span><i class="fa fa-sign-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Updates Section -->
        <section class="mt-30px mb-30px">
            <router-outlet></router-outlet>
        </section>
        <footer class="main-footer">

        </footer>
    </div>
</body>
