<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card-header">
            <h3 class="mb-0">RETRAIT</h3>
        </div>
        <div class="card-body">
            <form class="form">
                <div class="form-group">
                    <label for="">CODE-ENVOI</label>
                    <input [(ngModel)]="retraitData.codeenvoi" name="codeenvoi" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">CNI-RETRAIT</label>
                    <input [(ngModel)]="retraitData.CNIretrai" name="CNIretrai" type="number" class="form-control rounded-0" required>
                </div>
                <div class="form-group">
                    <label for="">STATUT</label>
                    <input [(ngModel)]="retraitData.statut" name="statut" type="text" class="form-control rounded-0" required>
                </div>
                <button (click)="retrait()" type="button" class="btn btn-primary float-right">RETIRER</button>
            </form>

        </div>

    </div>

</div>